<!doctype html>

<html>
    <head>
        <title>Hola</title>
        <meta charset="utf-8"/> 
    </head>
    <body>

        <canvas id="canvas" width="300" height="300" style="border:1px solid #d3d3d3;">Your browser does not support the HTML5 canvas tag.
        <script>
            var result = {{ result|tojson  }} ;
            var cc = 0;
            var c = document.getElementById("canvas");
            var ctx = c.getContext("2d");
            ctx.beginPath();
            for (var x = 0; x < 50 ; x++) {
                for (var y = 0; y < 50 ; y++) {
                    fillStyle = "rgba(255,100,100,0.5)";
                    console.log(result[cc]);
                    //console.log(y);
                    ctx.fillRect(x*2, y*2, 2, 2);
                    cc = cc +1 
                }
            }

            
        </script>
        </canvas>
        
        {{ result|tojson }}

    </body>
</html>