{% extends "base_template.html" %}
{% block title %}Configuracion inicial{% endblock %}
{% block form %}
<h1 class="w3-xxxlarge w3-text-blue"><b>Datos para el modelo covid en autómatas celulres elementales.</b></h1>
<hr style="width:50px;border:5px solid blueviolet" class="w3-round">
<p>Informacion sobre el modelo SIR</p>
<h5 id="variables">Variables</h5>

<h5 id="epsilon">Epsilon</h5>

<p>Factor de recuperación. Determina la porción de infectados en <code>t-1</code> que se recuperan en el tiempo <code>t</code>. Epsilon se encuentra en el intervalo <code>[0,1]</code></p>

<h5 id="m">M</h5>

<p>Factor de movimiento de población entre la celda principal y sus celdas vecinas. M esta en el intervalo <code>[0,1]</code> </p>

<h5 id="c">C</h5>

<p>Factor de conectividad de la celda principal con sus celdas vecinas.</p>

<ul>
<li><code>c = 1</code> si existen 3 medios de transporte entre las celdas</li>
<li><code>c = 0.6</code> si existen 2 medios de transporte entre las celdas</li>

<li><code>c = 0.3</code> si existe un medio de transporte entre las celdas</li>

<li><code>c = 0</code> si no existen medios de transporte entre las celdas </li>
</ul>

<h5 id="v">V</h5>

<p>Virulidad de la epidemia. V esta en el intervalo <code>[0,1]</code></p>
<hr style="width:50px;border:5px solid blueviolet" class="w3-round">

<!-- Formulario -->
<form action="" method="post">
        <div class="w3-section">
            <label for="cell_x">Numero de celulas X: </label>
            <input type='number' class="w3-input w3-border"  min="1" max="100"  id="cell_x" name="cell_x" value="22" required><br>
        </div>
        <div class="w3-section">
            <label for="cell_y">Numero de celulas Y: </label>
            <input type='number' min="1" max="100"  id="cell_y" name="cell_y" class="w3-input w3-border" value="23" required /><br>
        </div>
        <div class="w3-section">
            
            <label for="N">Población por celula: </label>
            <input type='number'  min="1" max="350000"  id="N" name="N" class="w3-input w3-border" value="250000" required /><br>
        </div>
        
        <div class="w3-section">
        
            <label for="v">Virulencia : </label>
            <input type='number' step='0.01' min='0' max='1.0' vale='0.6' id="v" name="v" class="w3-input w3-border"  required /><br>
        </div>
        <div class="w3-section">
            <label for="epsilon">epsilon : </label>
            <input type='number' step='0.01' min='0' max='1.0' vale='0.6' id="epsilon" name="epsilon" class="w3-input w3-border"  required /><br>
        </div>
        <div class="w3-section">        
            <label for="c">conectividad : </label>
            <input type='number' step='0.01' min='0' max='1.0' vale='0.6' id="c" name="c" class="w3-input w3-border"  required /><br>
        </div>      
        <div class="w3-section">
            <label for="m">m : </label>
            <input type='number' step='0.01' max='1.0' vale='0.6' id="m" name="m" class="w3-input w3-border"  required /><br>
        </div>
                
        <input type="submit"  class="w3-button w3-block w3-padding-large w3-blue w3-margin-bottom" id="calcular" name="calcular" value="calcular" />
    </form>

    {% endblock %}