{% extends "base_template.html" %}
{% block title %}Configuracion inicial{% endblock %}
{% block form %}
<h1 class="w3-xxxlarge w3-text-blue"><b>Interpolación de datos para el COVID en México.</b></h1>
<hr style="width:50px;border:5px solid blueviolet" class="w3-round">
<h3>Información para la Interpolación</h3>
<h4>Días calculados</h4>
<p>Día hasta el que se calculará la interpolacion</p>
<h4>Día inicio de la interpolacion</h4>
<p>Primer dia que se tomara en cuenta para hacer la Interpolación</p>
<hr style="width:50px;border:5px solid blueviolet" class="w3-round">

<form action="" method="post">
    <div class="w3-section">
        <label for="numDias"> Días calculados </label>
        <input type='number' max='100' id="numDatos" name="numDatos" class="w3-input w3-border"  required/><br>
    </div>

    <div class="w3-section">
        <label for="numInicio"> Datos muestra  </label>
        <input type='number' max='100' id="numInicio" name="numInicio" class="w3-input w3-border"  required/><br>
    </div>

    <input type="submit" id="calcular" name="calcular" value="calcular" class="w3-button w3-block w3-padding-large w3-blue w3-margin-bottom"  />
    </form>

    {% endblock %}