{% extends "base_template.html" %}
{% block head %}
<title>{% block title %} Configuracion inicial {% endblock %} 
</title>
{% endblock %}

{% block content %}

<img src="/plot/0" id="myImg" alt="Image Placeholder" height="300">

<script type="text/javascript">

  var  step = {{step}} ;
  //for (var i = 0; i < step; i++)
 // {
  setInterval(function() {
    let reloadable_item = document.getElementById('myImg');
    reloadable_item.src = "/plot/1";

  
    console.log("hola");
  }, 500);
  //}
  //var a= 0;
  //setInterval(function() {
  
  //let reloadable_item = document.getElementById('myImg')
  //	reloadable_item.src += "?var=1"
  //}, 500);
  
  
  
  //setInterval(loadDoc,5000);
  </script>
  
<h4 id="informacion">
  {{step}}
</h4>

{% endblock %}

